/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.gwt-TabPanelBottom{
	height:100%;
	overflow: auto;
	}
	

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


.Gmnuri3D {
border:0 none;
border-collapse:collapse;
padding:0;
}
.Gmnuri3D > div {
border:1px solid #D9E6F0;
border-collapse:collapse;
}
.Gmnuri3D h3 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E3E9FF none repeat scroll 0 0;
border-bottom:1px solid #D9E6F0;
color:#375B91;
margin:0;
padding:2px;
}
.Gmnuri3F {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border-collapse:collapse;
margin:4px;
}
.Gmnuri3F > tbody > tr > td {
border:1px solid #D9E6F0;
padding:2px;
}
.Gmnuri3F > tbody > tr {
color:#375B91;
}
.Gmnuri3F > tbody > tr:first-child {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E3E9FF none repeat scroll 0 0;
color:#000000;
}
.Gmnuri3E {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border-collapse:collapse;
}
.Gmnuri3E > tbody > tr > td > div {
margin:4px;
padding:0;
}
.Gmnuri3E > tbody > tr > td > button {
margin:4px;
padding:2px 0 0;
width:80px;
}
.Gmnuri3B {
border:0 none;
border-collapse:collapse;
padding:0;
}
.Gmnuri3B > div {
border:1px solid #D9E6F0;
border-collapse:collapse;
}
.Gmnuri3B h3 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E3E9FF none repeat scroll 0 0;
border-bottom:1px solid #D9E6F0;
color:#375B91;
margin:0;
padding:2px;
}
.Gmnuri3B > div > table > tbody > tr > td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E3E9FF none repeat scroll 0 0;
border:1px solid #D9E6F0;
margin:0;
padding:2px;
width:150px;
}
.Gmnuri3B > div > button {
margin:4px;
padding:0;
width:92px;
}
.Gmnuri3C {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border-collapse:collapse;
margin:4px;
}
.Gmnuri3A {
border:0 none;
border-collapse:collapse;
margin:0;
padding:0;
}
.Gmnuri3A > div {
border:1px solid #D9E6F0;
border-collapse:collapse;
}
.Gmnuri3A h3 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E3E9FF none repeat scroll 0 0;
border-bottom:1px solid #D9E6F0;
color:#375B91;
margin:0;
padding:2px;
}
.Gmnuri3A > div > select {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E3E9FF none repeat scroll 0 0;
border:1px solid #D9E6F0;
margin:4px;
padding:2px 0 0;
}
.Gmnuri3A > div > button {
margin:4px;
padding:2px 0 0;
width:80px;
}

body {
  padding: 10px;
}

/*
 * ScrollTable
 */
.gwt-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.gwt-ScrollTable .headerWrapper {
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  color: #fff;
}
	
.gwt-ScrollTable .dataTable tr.highlighted {
  background: #C3D9FF;
}

.gwt-ScrollTable .dataTable td.highlighted {
  background: #FFFFAA;
  cursor: hand;
  cursor: pointer;
}

.gwt-ScrollTable .dataTable tr.selected td {
  background: #7AA5D6;
}

.badGPA {
	background: #FFAAAA;
}
.goodGPA {
  background: #AAAAFF;
}
.greatGPA {
  background: #AAFFAA;
}

/**
 * Applied to the options at the bottom of the page.
 */
.gwt-PagingOptions {
  background: #e8eef7;
  border: 1px solid #aaa;
  border-top: none;
}

.gwt-PagingOptions .errorMessage {
	color: red;
}

.pagingOptionsFirstPage,
.pagingOptionsLastPage,
.pagingOptionsNextPage,
.pagingOptionsPrevPage {
  cursor: hand;
  cursor: pointer;
}

.gwt-InlineCellEditor {
  border: 3px solid #7AA5D6;
  padding: 4px;
  background: white;
  overflow: auto;
}
.gwt-InlineCellEditor .accept {
  cursor: pointer;
  cursor: hand;
}
.gwt-InlineCellEditor .cancel {
  cursor: pointer;
  cursor: hand;
}

/** Applied to AbstractOptions */
.AbstractOption-Label {
  font-weight: bold;
  text-align: right;
}

.stats{
	border: 1px solid #92C1F0;
	}



