<?xml version="1.0" encoding="UTF-8"?>
<web-app>
		<error-page>
			<error-code>
		    503
	        </error-code>
	        <location>
	            /error503.html
	        </location>
	    </error-page>
		<error-page>
			<error-code>
		    502
	        </error-code>
	        <location>
	            /error502.html
	        </location>
	    </error-page>
		<error-page>
			<error-code>
		    403
	        </error-code>
	        <location>
	            /error403.html
	        </location>
	    </error-page>

		<listener>
            <listener-class>gr.ebs.gss.server.configuration.GssServletConfig</listener-class>
		</listener>

		<filter>
            <filter-name>guiceFilter</filter-name>
            <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
		</filter>
		<filter-mapping>
            <filter-name>guiceFilter</filter-name>
            <url-pattern>/*</url-pattern>
		</filter-mapping>
</web-app> 